:root{
    --see: #75aeff;;
    --edit: #409962;
    --delete: #c0392b;
    --bg: #e0e7f3;
    --white: #fff;
}

.ligne {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:10px;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    background: var(--bg);
}

/* Navbar */
nav {
    padding: 5px;
    overflow: hidden;
    background-color: #aabdff;
    margin: 0 0 2em 0;
}

nav ul li a{
  color: black;
  text-decoration: none;
  font-family: "Calibri Light", sans-serif;
  margin: 0 15px;
  font-size: 24px;
  transition: all .2s ease-in-out;
  padding: 0.8em;
  border-radius: 7px;
  position: relative;
  z-index: 200;
}

/* Animation onhover <a> navbar, width a 0 */
nav ul li a.hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 5px;
    background: var(--white);
    z-index: -1;
    transition: all 0.4s ease-in-out;
    border-radius: 7px;
}
/* Quand on survole le lien, on remet en position initiale */
nav ul li a.hover:hover:before{
    width: 100%;
}
/* Hover*/
nav ul li a:hover{
    color: var(--white);
    background: #aabdff;
    transition: all .2s ease-in-out;
}

/* Active (quand le lien est cliqué) */
nav ul li a.--active:before {
    background-color: var(--white);
    width: 100%;
}
nav ul li a.--active {
    color: var(--white);
    background: #aabdff;
    transition: all .2s ease-in-out;
}

/* Dropdown menu */
.dropdown{
    opacity: 0;
    padding: 0.4em;
    margin-top: 1em;
    margin-left: 0.75em;
    visibility: hidden;
    position: absolute;
    background: var(--white);
    border: 2px solid #aabdff;
    border-radius: 7px;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 200;
    transition: all .2s ease-in-out;
    transform: translateY(25px);
}
nav ul li:hover .dropdown{
    opacity: 1;
    visibility: visible;
    transition: all .4s ease-in-out;
    transform: translateY(0);
    display: flex;
}
.dropdown li{
    margin: 15px 0;
}
.dropdown li a{
    padding: 0.5em;
}
.dropdown li a:hover{
    background: #d998ff;
    color: var(--white);
    border-radius: 7px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}


/* Liens global */
div a{
  font-family: "Calibri Light", sans-serif;
  text-transform: uppercase;
  background: #d998ff;
  border-radius: 7px;
  padding: 0.5em 1em;
  color: var(--white);
  text-decoration: none;
  border: 2px solid transparent;
  transition: .1s;
}
div a:hover{
  border: 2px solid #d998ff;
  background: var(--white);
  color: #d998ff;
}

div{
  margin: 0.5em;
}

/* Formulaire de création/maj */
.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  margin: 2em auto;
  border: 2px solid #aabdff;
  border-radius: 7px;
  background-color: var(--white);
  padding: 1em;
}

input{
  border: 2px solid orange;
  border-radius: 7px;
  padding: 1em;
  font-family: "Calibri Light", sans-serif;
}

input[type="submit"] {
  background: #d998ff;
  color: var(--white);
  border: 2px solid #d998ff;
  border-radius: 7px;
  padding: 0.5em;
  font-family: "Calibri Light", sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all .1s ease-in;
}
input[type="submit"]:hover {
  background: var(--white);
  color: #d998ff;
  border: 2px solid #d998ff;
}


/* Modal qui apparaît une fois qu'il y a ajout/modification/suppression d'un Objet */
#modal__msg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  margin: 0 !important;
  transition: all .4s ease-in-out;
}
.modal__msg__content{
    background: var(--white);
    padding: 1em;
    border-radius: 7px;
    text-align: center;
    font-family: "Calibri Light", sans-serif;
    font-size: 18px;
    transition: all .4s ease-in-out;
}
.modal__msg__content button{
  background: #d998ff;
  color: var(--white);
  border: 2px solid #d998ff;
  border-radius: 7px;
  padding: 0.5em 1em;
  font-family: "Calibri Light", sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all .1s ease-in;
}
.modal__msg__content button:hover{
  background: var(--white);
  color: #d998ff;
  border: 2px solid #d998ff;
}

#modal__msg:target{
    opacity: 1;
    visibility: visible;
}


/* Custom des boutons dans le tableau edit/add/delete*/
.bouton-edit{
    background: var(--edit);
    color: var(--white);
    border: 2px solid var(--edit);
    border-radius: 7px;
    padding: 0.5em 1em;
    font-family: "Calibri Light", sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all .1s ease-in;
}
.bouton-edit:hover{
    background: var(--white);
    color: var(--edit);
    border: 2px solid var(--edit);
}

.bouton-delete{
    background: var(--delete);
    color: var(--white);
    border: 2px solid var(--delete);
    border-radius: 7px;
    padding: 0.5em 1em;
    font-family: "Calibri Light", sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all .1s ease-in;
}
.bouton-delete:hover{
    background: var(--white);
    color: var(--delete);
    border: 2px solid var(--delete);
}

.form p{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.bouton-livre, .bouton-nationalite{
    margin-right: 15px;
    background: var(--see);
    color: var(--white);
    border: 2px solid var(--see);
    border-radius: 7px;
    padding: 0.5em 1em;
    font-family: "Calibri Light", sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all .1s ease-in;
}
.bouton-livre:hover, .bouton-nationalite:hover{
    background: var(--white);
    color: var(--see);
    border: 2px solid var(--see);
}