body * {
    font-family: "courier";
    font-weight: bold;
}

#input {

}

.row{
    max-width: 90%;
    margin: auto;
}

#input__text {
    width: 100%;
    padding: 1.5em;
    font-size: 15px;
    border: 2px solid #3f4276;
    box-sizing: border-box;
    border-radius: 15px 15px 0 0;
}

#input__text:focus {
    outline: none;
    border: 2px solid orange;
}

#input__btn {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5em;
    border-radius: 0 0 15px 15px;
    border: 2px solid #4e54c8;
    background-color: #4e54c8;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease;
}
#input__btn:hover{
    background-color: white;
    color: #4e54c8;
}


#input {
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}

#input > div > input {
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    padding: 1em;
    font-size: 15px;
    border-radius: 0;
    background-color: #3f4276;
    border: none;
    transition: all .3s ease-out;
    border: 1px solid white;
}

#input > div > input:hover {
    background: #4e54c8;
    color: white;
}

#input > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}