body {
	width:90%;
	margin:1em auto 0 auto;
	padding:0px 20px 20px 20px;
	border:solid 2px grey;
}
body * {
	font-family:Consolas;
}
#enregistrements, #listes {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 2em;
}
#ajoutAdherent, #ajoutLivre {
	width:50%;
	display:flex;
	flex-direction: column;
}
#ajoutLivre div, #ajoutAdherent div {
	display:flex;
	justify-content: space-around;
	margin-bottom:10px;
}
#ajoutLivre div input[type="text"], #ajoutAdherent div input[type="text"] {
	width:35%;
}
#ajoutLivre div input[type="button"], #ajoutAdherent div input[type="button"] {
	width:30%;
}
#adh {
	width:33.3%;
}
#dispos, #empr {
	width:33.3%;
}

#adh fieldset, #dispos fieldset, #empr fieldset {
	min-height:20em;
}

#boutons {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#boutons>input {
	width:33%;
}
input[type="button"] {
	cursor:pointer;
	background-color: #E1E1E1;
	font-style: normal;
	font-weight: normal;
	color:black;
}
legend {
	font-size: 1.5em;
}
h2 {
	font-size: 2em;
	color:white;
	background-color: #459c46;
    border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
    padding: 10px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
	font-family: "Arial", sans-serif;
    text-align: center;
}
ul {
	padding-left: 20px;
}
li {
	cursor:pointer;
	background-color: white;
	line-height: 1.5em;
}
li:hover {
	background-color: lightgrey;
}
input {
	padding:5px;
	font-size: 1.2em;

}


#sauvegarder{
	border-radius: 5px;
	border: none;
	background-color: #378e9c;
	color: white;
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);

	font-family: "Arial", sans-serif;
	transition: all .2s cubic-bezier(0.56, 0.45, 0.34, 0.34);
}
#sauvegarder:hover{
	background-color: rgba(55, 142, 156, 0.75);
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}

#recharger{
	border-radius: 5px;
	border: none;
	background-color: #f18b17;
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
	color: white;
	font-family: "Arial", sans-serif;
	transition: all .2s cubic-bezier(0.56, 0.45, 0.34, 0.34);
	padding: 1em 1em;
}
#recharger:hover{
	background-color: rgba(241, 139, 23, 0.79);
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}


#enregistrerAdherent, #enregistrerLivre{
	border-radius: 5px;
	border: none;
	background-color: #459c46;
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
	color: white;
	font-family: "Arial", sans-serif;
	transition: all .2s cubic-bezier(0.56, 0.45, 0.34, 0.34);
	padding: 1em 1em;
}
#enregistrerAdherent:hover, #enregistrerLivre:hover{
	background-color: rgba(69, 156, 70, 0.76);
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}